

.main{
	background: #666;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: verdana 16px;
	padding: 55px 50px;
}

.main .left,
.main .center,
.main .right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.main .left{
	width: 40%;
}



.italic { font-style: italic; }



/* Footer Center */

.main .center{
	width: 35%;
}

.main .left i{
	background-color:  #33383b;
	color: black;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}


.main .left p{
	display: inline-block;
	color: #ffffff;
	font-weight:400;
	vertical-align: middle;
	margin:0;
}




/* Footer Right */

.main .right{
	width: 20%;
}
